In [11]:
import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

In [12]:
import glob
from google.colab import drive
drive.mount('/gdrive', force_remount=True)

crisil_files = glob.glob(f"/gdrive/My Drive/crisil_pdfs/*.pdf")
icra_files = glob.glob(f"/gdrive/My Drive/icra_pdfs/*.pdf")
print(crisil_files)
print(icra_files)

Mounted at /gdrive
['/gdrive/My Drive/crisil_pdfs/AMFL.pdf', '/gdrive/My Drive/crisil_pdfs/EARC.pdf', '/gdrive/My Drive/crisil_pdfs/Edelweiss_Finance_19-Aug-2014.pdf', '/gdrive/My Drive/crisil_pdfs/Edelweiss_Finance_19-Aug-2014 (1).pdf', '/gdrive/My Drive/crisil_pdfs/Edelweiss-Finvest-Private-Limited.pdf', '/gdrive/My Drive/crisil_pdfs/Mafl.pdf', '/gdrive/My Drive/crisil_pdfs/Muthoot.pdf', '/gdrive/My Drive/crisil_pdfs/Muthoot (1).pdf', '/gdrive/My Drive/crisil_pdfs/STFC.pdf', '/gdrive/My Drive/crisil_pdfs/STFC (1).pdf', '/gdrive/My Drive/crisil_pdfs/STFC (2).pdf', '/gdrive/My Drive/crisil_pdfs/STFC (3).pdf', '/gdrive/My Drive/crisil_pdfs/bombay-burmah.pdf']
['/gdrive/My Drive/icra_pdfs/CreditAccess Grameen Limited MLD Valuations 28 July 2021.pdf', '/gdrive/My Drive/icra_pdfs/Ess Kay Fincorp Limited MLD Valuations 28 July 2021.pdf', '/gdrive/My Drive/icra_pdfs/Five-Star Business Finance Limited MLD Valuations 23 July 2021.pdf', '/gdrive/My Drive/icra_pdfs/MAS Financial Services Limited MLD Valuations 28 July 2021.pdf', '/gdrive/My Drive/icra_pdfs/Muthoot Fincorp Limited MLD Valuations 23 July 2021.pdf', '/gdrive/My Drive/icra_pdfs/Shriram City Union Finance Limited MLD Valuations 23 July 2021 (1).pdf', '/gdrive/My Drive/icra_pdfs/Spandana Sphoorty Financial Limited MLD Valuations 23 July 2021 (1).pdf']

In [13]:
df = pd.read_excel("Book3.xlsx")

display(df)

                                       Security Name  ...                                               LINK
0  MANAPPURAM FINANCE LIMITED SR 03/2020-21 BR NC...  ...  https://www.crisil.com/content/dam/crisil/gene...
1  MAS FINANCIAL SERVICES LIMITED BR LOA 30MR23 F...  ...  https://icraanalytics.com/home/mldvaluation#!#...

[2 rows x 7 columns]

In [14]:
df_copy=df.copy()

df_copy

                                       Security Name  ...                                               LINK
0  MANAPPURAM FINANCE LIMITED SR 03/2020-21 BR NC...  ...  https://www.crisil.com/content/dam/crisil/gene...
1  MAS FINANCIAL SERVICES LIMITED BR LOA 30MR23 F...  ...  https://icraanalytics.com/home/mldvaluation#!#...

[2 rows x 7 columns]

In [15]:
pip install PyPdf

Collecting PyPdf
  Downloading pyPdf-1.13.tar.gz (35 kB)
Building wheels for collected packages: PyPdf
  Building wheel for PyPdf (setup.py) ... done
  Created wheel for PyPdf: filename=pyPdf-1.13-py3-none-any.whl size=36499 sha256=3cbf49771aa892e5253fd215112260f0a648f00e21345f0f15a67f1002537b2c
  Stored in directory: /root/.cache/pip/wheels/e2/e4/5b/45ff55366ef8f906af3b0e39ba093b15ec850200a84dc7e441
Successfully built PyPdf
Installing collected packages: PyPdf
Successfully installed PyPdf-1.13

In [16]:
pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.2.0-py3-none-any.whl (11.7 MB)
     |████████████████████████████████| 11.7 MB 224 kB/s
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.1.5)
Collecting distro
  Downloading distro-1.6.0-py2.py3-none-any.whl (19 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from tabula-py) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.6.0 tabula-py-2.2.0

In [17]:
import tabula

In [18]:
crisil_df_list=[]
for file in crisil_files:
  df_pdf = tabula.read_pdf(file, pages=1, lattice=True)
  new_header = df_pdf[0].iloc[0]
  df_pdf[0] = df_pdf[0][1:] 
  df_pdf[0].columns = new_header 
  df_filtered=df_pdf[0]
  df_filtered.columns = df_filtered.columns.str.replace("\r", " ")
  print(df_filtered)
  crisil_df_list.append(df_filtered)

Got stderr: Aug 03, 2021 5:23:48 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider loadDiskCache
WARNING: New fonts found, font cache will be re-built
Aug 03, 2021 5:23:48 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Building on-disk font cache, this may take a while
Aug 03, 2021 5:23:48 AM org.apache.pdfbox.pdmodel.font.FileSystemFontProvider <init>
WARNING: Finished building on-disk font cache, found 17 fonts

0        Series  ... Valuation as on Previous Week
1  AMFL-25Dec20  ...                        116.50

[1 rows x 8 columns]
0   Series  ... Valuation as on Previous Week
1  A5C001A  ...                         90.06
2  K9A001A  ...                         65.62
3  L1C001A  ...                        109.93
4  L2C001A  ...                        103.70
5  L3C001A  ...                         96.78

[5 rows x 8 columns]
0      Series  ... Valuation as on Previous Week
1     C3F101A  ...                             -
2     D1C001A  ...                        113.13
3     E2B101A  ...                         96.57
4     E2H001A  ...                        111.65
5     F1F002A  ...                        110.70
6     G2J002A  ...                        108.79
7     G3L001A  ...                        102.18
8     H1G001A  ...                        109.56
9      I6L901  ...                         77.83
10  L1C901A01  ...                        118.47
11    L2C901A  ...                        109.10
12    L3C101A  ...                         85.55

[12 rows x 8 columns]
0      Series  ... Valuation as on Previous Week
1     C3F101A  ...                             -
2     D1C001A  ...                        113.13
3     E2B101A  ...                         96.57
4     E2H001A  ...                        111.65
5     F1F002A  ...                        110.70
6     G2J002A  ...                        108.79
7     G3L001A  ...                        102.18
8     H1G001A  ...                        109.56
9      I6L901  ...                         77.83
10  L1C901A01  ...                        118.47
11    L2C901A  ...                        109.10
12    L3C101A  ...                         85.55

[12 rows x 8 columns]
0   Series  ... Valuation as on Previous Week
1  B2H801A  ...                        134.49
2  B3K001A  ...                         98.27
3  C1D801A  ...                        128.14
4  H1I801A  ...                        136.85
5  I1C801A  ...                        113.69
6  L0E701A  ...                        124.63
7  L1J901A  ...                        112.04

[7 rows x 8 columns]
0   Series  ... Valuation as on Previous Week
1  MFL001A  ...                        112.83
2  MFL002A  ...                        111.97
3  MFL003A  ...                        110.85

[3 rows x 8 columns]
0      Series  ... Valuation as on Previous Week
1  Muthoot_1A  ...                        113.17
2  Muthoot_2A  ...                        111.65
3  Muthoot_3A  ...                        110.58
4  Muthoot_4A  ...                        108.36

[4 rows x 8 columns]
0      Series  ... Valuation as on Previous Week
1  Muthoot_1A  ...                        113.17
2  Muthoot_2A  ...                        111.65
3  Muthoot_3A  ...                        110.58
4  Muthoot_4A  ...                        108.36

[4 rows x 8 columns]
0 Series  ... Valuation as on Previous Week
1     AA  ...                        106.97
2    I01  ...                        110.16
3    I02  ...                        109.22
4    I03  ...                        108.41
5    Y01  ...                        108.25
6    Y02  ...                        104.36
7    Y03  ...                        102.11

[7 rows x 8 columns]
0 Series  ... Valuation as on Previous Week
1     AA  ...                        106.97
2    I01  ...                        110.16
3    I02  ...                        109.22
4    I03  ...                        108.41
5    Y01  ...                        108.25
6    Y02  ...                        104.36
7    Y03  ...                        102.11

[7 rows x 8 columns]
0 Series  ... Valuation as on Previous Week
1     AA  ...                        106.97
2    I01  ...                        110.16
3    I02  ...                        109.22
4    I03  ...                        108.41
5    Y01  ...                        108.25
6    Y02  ...                        104.36
7    Y03  ...                        102.11

[7 rows x 8 columns]
0 Series  ... Valuation as on Previous Week
1     AA  ...                        106.97
2    I01  ...                        110.16
3    I02  ...                        109.22
4    I03  ...                        108.41
5    Y01  ...                        108.25
6    Y02  ...                        104.36
7    Y03  ...                        102.11

[7 rows x 8 columns]
0 Series  ... Valuation as on Previous Week
1    BB1  ...                        101.92

[1 rows x 8 columns]

In [19]:
crisil_large_df = pd.concat(crisil_df_list, ignore_index=True)

In [20]:
crisil_large_df

0         Series  ... Valuation as on Previous Week
0   AMFL-25Dec20  ...                        116.50
1        A5C001A  ...                         90.06
2        K9A001A  ...                         65.62
3        L1C001A  ...                        109.93
4        L2C001A  ...                        103.70
..           ...  ...                           ...
72           I03  ...                        108.41
73           Y01  ...                        108.25
74           Y02  ...                        104.36
75           Y03  ...                        102.11
76           BB1  ...                        101.92

[77 rows x 8 columns]

In [21]:
icra_df_list=[]
for file in icra_files:
  df_pdf = tabula.read_pdf(file, pages=[2], lattice=True)
  new_header = df_pdf[0].iloc[0]
  df_pdf[0] = df_pdf[0][1:] 
  df_pdf[0].columns = new_header 
  df_filtered=df_pdf[0]
  df_filtered.columns = ['ISIN No','Series','Date of Allotment','Maturity Date','Reference Asset','Face Value (in Rs.)','Valuation*']
  print(df_filtered)
  icra_df_list.append(df_filtered)

Got stderr: Aug 03, 2021 5:24:14 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 03, 2021 5:24:14 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

        ISIN No  ... Valuation*
1  INE741K07397  ...     103.20

[1 rows x 7 columns]

Got stderr: Aug 03, 2021 5:24:16 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 03, 2021 5:24:16 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

        ISIN No            Series  ... Face Value (in Rs.) Valuation*
1  INE124N07549  5251996- 5260995  ...            1,00,000     103.25

[1 rows x 7 columns]

Got stderr: Aug 03, 2021 5:24:18 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 03, 2021 5:24:18 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

        ISIN No                          Series  ... Face Value (in Rs.) Valuation*
1  INE128S07499         FSBFL_MLD_SR-\rI_FY2023  ...            1,00,000     110.30
2  INE128S07531     FSBFL_MLD_Series\rA_FY 2022  ...            1,00,000     106.35
3  INE128S07523     FSBFL_MLD_Series\rB_FY 2022  ...            1,00,000     107.41
4  INE128S07549  FSBFL NCD Covered\rMLD IV 2020  ...           10,00,000     106.42
5  INE128S07556   FSBFL NCD Covered\rMLD V 2020  ...           10,00,000     106.39
6  INE128S07564  FSBFL NCD Covered\rMLD VI 2020  ...           10,00,000     104.59

[6 rows x 7 columns]

Got stderr: Aug 03, 2021 5:24:20 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 03, 2021 5:24:20 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

        ISIN No  ... Valuation*
1  INE348L07076  ...     103.48
2  INE348L07084  ...     100.99

[2 rows x 7 columns]

Got stderr: Aug 03, 2021 5:24:22 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 03, 2021 5:24:22 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

        ISIN No  ... Valuation*
1  INE549K07790  ...     107.80
2  INE549K07899  ...     105.87
3  INE549K07907  ...     105.49
4  INE549K07915  ...     105.34
5  INE549K07980  ...     103.64
6  INE549K07AG1  ...     103.17
7  INE549K07AF3  ...     103.07
8  INE549K07AQ0  ...     100.10

[8 rows x 7 columns]

Got stderr: Aug 03, 2021 5:24:24 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 03, 2021 5:24:24 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

        ISIN No                           Series  ... Face Value (in Rs.) Valuation*
1  INE722A07AL5      SCUF Dec 2020-21 PPML\r1-01  ...           10,00,000     105.96
2  INE722A07AL5     SCUF Dec 2020-21 PPML\r1-01A  ...           10,00,000     105.96
3  INE722A07AL5     SCUF Dec 2020-21 PPML\r1-01B  ...           10,00,000     105.96
4  INE722A07AM3      SCUF Jan 2020-21 PPML\r1-01  ...           10,00,000     104.15
5  INE722A07AR2    SCUF March 2020-21\rPPML 1-01  ...           10,00,000     103.38
6  INE722A07AR2                      Series XXII  ...           10,00,000     103.38
7  INE722A07AR2  SCUF March 2020-21\rPPML I- 01B  ...           10,00,000     103.38
8  INE722A07AS0                     Series XXIII  ...           10,00,000     102.59
9  INE722A07AT8      SCUF Mar 2020-21 PPML\r1-02  ...           10,00,000     102.34

[9 rows x 7 columns]

Got stderr: Aug 03, 2021 5:24:26 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans' for 'TimesNewRomanPSMT'
Aug 03, 2021 5:24:26 AM org.apache.pdfbox.pdmodel.font.PDTrueTypeFont <init>
WARNING: Using fallback font 'LiberationSans-Bold' for 'TimesNewRomanPS-BoldMT'

         ISIN No  ... Valuation*
1   INE572J07166  ...     109.39
2   INE572J07174  ...     109.83
3   INE572J07182  ...     110.51
4   INE572J07240  ...     106.88
5   INE572J07273  ...     106.59
6   INE572J07299  ...     105.93
7   INE572J07257  ...     101.80
8   INE572J07190  ...     116.71
9   INE572J07208  ...     129.88
10  INE572J07331  ...     103.56
11  INE572J07364  ...     104.46
12  INE572J07364  ...     104.46

[12 rows x 7 columns]

In [22]:
icra_large_df = pd.concat(icra_df_list, ignore_index=True)
icra_large_df.replace("\r", " ")
icra_large_df

         ISIN No  ... Valuation*
0   INE741K07397  ...     103.20
1   INE124N07549  ...     103.25
2   INE128S07499  ...     110.30
3   INE128S07531  ...     106.35
4   INE128S07523  ...     107.41
5   INE128S07549  ...     106.42
6   INE128S07556  ...     106.39
7   INE128S07564  ...     104.59
8   INE348L07076  ...     103.48
9   INE348L07084  ...     100.99
10  INE549K07790  ...     107.80
11  INE549K07899  ...     105.87
12  INE549K07907  ...     105.49
13  INE549K07915  ...     105.34
14  INE549K07980  ...     103.64
15  INE549K07AG1  ...     103.17
16  INE549K07AF3  ...     103.07
17  INE549K07AQ0  ...     100.10
18  INE722A07AL5  ...     105.96
19  INE722A07AL5  ...     105.96
20  INE722A07AL5  ...     105.96
21  INE722A07AM3  ...     104.15
22  INE722A07AR2  ...     103.38
23  INE722A07AR2  ...     103.38
24  INE722A07AR2  ...     103.38
25  INE722A07AS0  ...     102.59
26  INE722A07AT8  ...     102.34
27  INE572J07166  ...     109.39
28  INE572J07174  ...     109.83
29  INE572J07182  ...     110.51
30  INE572J07240  ...     106.88
31  INE572J07273  ...     106.59
32  INE572J07299  ...     105.93
33  INE572J07257  ...     101.80
34  INE572J07190  ...     116.71
35  INE572J07208  ...     129.88
36  INE572J07331  ...     103.56
37  INE572J07364  ...     104.46
38  INE572J07364  ...     104.46

[39 rows x 7 columns]

In [23]:
df_price_crisil=crisil_large_df[["ISIN Code", "Valuation per Rs 100 Face Value"]]
df_price_crisil.columns=["ISIN", "Valuation"]
df_price_icra=icra_large_df[["ISIN No", "Valuation*"]]
df_price_icra.columns=["ISIN", "Valuation"]

In [24]:
df_price_crisil

            ISIN Valuation
0   INE516Q07259    116.73
1   INE015L07733     90.32
2   INE015L07725     65.71
3   INE015L07758    110.25
4   INE015L07766    103.98
..           ...       ...
72  INE721A07QB4    108.35
73  INE721A07QC2    108.19
74  INE721A07QF5    104.23
75  INE721A07QI9    101.81
76  INE050A07055    102.08

[77 rows x 2 columns]

In [25]:
df_price_icra

            ISIN Valuation
0   INE741K07397    103.20
1   INE124N07549    103.25
2   INE128S07499    110.30
3   INE128S07531    106.35
4   INE128S07523    107.41
5   INE128S07549    106.42
6   INE128S07556    106.39
7   INE128S07564    104.59
8   INE348L07076    103.48
9   INE348L07084    100.99
10  INE549K07790    107.80
11  INE549K07899    105.87
12  INE549K07907    105.49
13  INE549K07915    105.34
14  INE549K07980    103.64
15  INE549K07AG1    103.17
16  INE549K07AF3    103.07
17  INE549K07AQ0    100.10
18  INE722A07AL5    105.96
19  INE722A07AL5    105.96
20  INE722A07AL5    105.96
21  INE722A07AM3    104.15
22  INE722A07AR2    103.38
23  INE722A07AR2    103.38
24  INE722A07AR2    103.38
25  INE722A07AS0    102.59
26  INE722A07AT8    102.34
27  INE572J07166    109.39
28  INE572J07174    109.83
29  INE572J07182    110.51
30  INE572J07240    106.88
31  INE572J07273    106.59
32  INE572J07299    105.93
33  INE572J07257    101.80
34  INE572J07190    116.71
35  INE572J07208    129.88
36  INE572J07331    103.56
37  INE572J07364    104.46
38  INE572J07364    104.46

In [26]:
df_price = pd.concat([df_price_crisil,df_price_icra], ignore_index=True)
df_price

             ISIN Valuation
0    INE516Q07259    116.73
1    INE015L07733     90.32
2    INE015L07725     65.71
3    INE015L07758    110.25
4    INE015L07766    103.98
..            ...       ...
111  INE572J07190    116.71
112  INE572J07208    129.88
113  INE572J07331    103.56
114  INE572J07364    104.46
115  INE572J07364    104.46

[116 rows x 2 columns]

In [27]:
for i in df_price["ISIN"]:
  if i in df["ISIN"].values:
    print(i)
    print(df.loc[df["ISIN"]==i, "Ticker"])
    print(df_price.loc[df_price["ISIN"]==i,"Valuation"].values[0])
    df.loc[df["ISIN"]==i, "Ticker"]=(df_price.loc[df_price["ISIN"]==i,"Valuation"].values[0])

INE522D07BU2
0    109.61
Name: Ticker, dtype: float64
111.02
INE348L07076
1    101.49
Name: Ticker, dtype: object
103.48

In [28]:
df

                                       Security Name  ...                                               LINK
0  MANAPPURAM FINANCE LIMITED SR 03/2020-21 BR NC...  ...  https://www.crisil.com/content/dam/crisil/gene...
1  MAS FINANCIAL SERVICES LIMITED BR LOA 30MR23 F...  ...  https://icraanalytics.com/home/mldvaluation#!#...

[2 rows x 7 columns]

In [29]:
df_copy

                                       Security Name  ...                                               LINK
0  MANAPPURAM FINANCE LIMITED SR 03/2020-21 BR NC...  ...  https://www.crisil.com/content/dam/crisil/gene...
1  MAS FINANCIAL SERVICES LIMITED BR LOA 30MR23 F...  ...  https://icraanalytics.com/home/mldvaluation#!#...

[2 rows x 7 columns]

In [30]:
writer = ExcelWriter('Revised_values.xlsx')
df.to_excel(writer, 'Main')
crisil_large_df.to_excel(writer, 'CRISIL')
icra_large_df.to_excel(writer, 'ICRA')
writer.save()